h1{
    background-color: maroon;
    color: white;
    text-align: center;
    text-decoration: underline;
}
p{
    text-align: center;
    background-color: black;
    color: white;
    border: 2px solid white;
}